McuDefinition(
    id: "esp32c5",
    display_name: "ESP32-C5",
    family: "esp32c5",
    package: "QFN48",
    max_mhz: Some(240),
    sram_kb: Some(384),
    dma: Some(DmaDef(
        mux: true,
        channels: [
            DmaChannel(
                peri: "DMA_CH0",
                irq: "",
            ),
            DmaChannel(
                peri: "DMA_CH1",
                irq: "",
            ),
            DmaChannel(
                peri: "DMA_CH2",
                irq: "",
            ),
        ],
    )),
    cpu: "RISC-V 32-bit",
    toolchain: EspRust,
    project: ProjectDef(
        pkg_name: "esp32c5",
        target: "riscv32imac-unknown-none-elf",
        flash_origin: "",
        flash_size: "",
        ram_origin: "",
        ram_size: "",
        hal_dep: "",
        probe_chip: "esp32c5",
        memory_comment: "",
    ),
    pins: PinLayout(
        top: [
            PinDef(
                number: 48,
                name: "ANT_5G",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 47,
                name: "GND",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 46,
                name: "VDDA5",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 45,
                name: "VDDA4",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 44,
                name: "VDDA3",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 43,
                name: "GND",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 42,
                name: "ANT_2G",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 41,
                name: "VDDA2",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 40,
                name: "VDDA1",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 39,
                name: "VDDPST3",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 38,
                name: "GPIO28",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 37,
                name: "GPIO27",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
        ],
        bottom: [
            PinDef(
                number: 13,
                name: "GPIO4",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    AdcChannel(
                        adc: 1,
                        channel: 3,
                    ),
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 14,
                name: "GPIO5",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    AdcChannel(
                        adc: 1,
                        channel: 4,
                    ),
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 15,
                name: "GPIO6",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    AdcChannel(
                        adc: 1,
                        channel: 5,
                    ),
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 16,
                name: "GPIO7",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 17,
                name: "GPIO8",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 18,
                name: "GPIO9",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 19,
                name: "GPIO10",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 20,
                name: "GPIO11",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 21,
                name: "GPIO12",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 22,
                name: "GPIO13",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsbDm,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 23,
                name: "GPIO14",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsbDp,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 24,
                name: "VDDPST2",
                reserved: true,
                functions: [],
            ),
        ],
        left: [
            PinDef(
                number: 1,
                name: "VDDA6",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 2,
                name: "GND",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 3,
                name: "VDDA7",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 4,
                name: "XTAL_N",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 5,
                name: "XTAL_P",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 6,
                name: "VDDA8",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 7,
                name: "CHIP_PU",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 8,
                name: "VDDPST1",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 9,
                name: "GPIO0",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 10,
                name: "GPIO1",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    AdcChannel(
                        adc: 1,
                        channel: 0,
                    ),
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 11,
                name: "GPIO2",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    AdcChannel(
                        adc: 1,
                        channel: 1,
                    ),
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 12,
                name: "GPIO3",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    AdcChannel(
                        adc: 1,
                        channel: 2,
                    ),
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
        ],
        right: [
            PinDef(
                number: 36,
                name: "GPIO26",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 35,
                name: "GPIO25",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 34,
                name: "GPIO24",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 33,
                name: "GPIO23",
                reserved: false,
                functions: [
                    GpioInput,
                    GpioOutput,
                    UsartTx(0),
                    UsartRx(0),
                    UsartTx(1),
                    UsartRx(1),
                    SpiSck(2),
                    SpiMosi(2),
                    SpiMiso(2),
                    SpiNss(2),
                    I2cScl(0),
                    I2cSda(0),
                ],
            ),
            PinDef(
                number: 32,
                name: "GPIO22",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 31,
                name: "GPIO21",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 30,
                name: "GPIO20",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 29,
                name: "VDD_SPI",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 28,
                name: "GPIO18",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 27,
                name: "GPIO17",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 26,
                name: "GPIO16",
                reserved: true,
                functions: [],
            ),
            PinDef(
                number: 25,
                name: "GPIO15",
                reserved: true,
                functions: [],
            ),
        ],
        grid: None,
    ),
    clock: Graph(GraphClock(
        graph: ClockGraph(
            nodes: [
                Node(
                    id: "xtal",
                    kind: Source(
                        min_hz: 40000000,
                        max_hz: 48000000,
                        gated: false,
                    ),
                    state: Source(
                        enabled: true,
                        hz: 40000000,
                    ),
                    limit: None,
                ),
                Node(
                    id: "pll",
                    kind: Source(
                        min_hz: 480000000,
                        max_hz: 480000000,
                        gated: false,
                    ),
                    state: Source(
                        enabled: true,
                        hz: 480000000,
                    ),
                    limit: None,
                ),
                Node(
                    id: "cpu_div",
                    kind: Divider(
                        options: [
                            2,
                            3,
                            6,
                        ],
                    ),
                    state: Index(0),
                    limit: None,
                ),
                Node(
                    id: "cpu",
                    kind: Mux(
                        inputs: 2,
                    ),
                    state: Index(1),
                    limit: None,
                ),
            ],
            edges: [
                Edge(
                    from: "pll",
                    to: "cpu_div",
                    input: 0,
                ),
                Edge(
                    from: "xtal",
                    to: "cpu",
                    input: 0,
                ),
                Edge(
                    from: "cpu_div",
                    to: "cpu",
                    input: 1,
                ),
            ],
        ),
        layout: ClockLayout(
            nodes: [
                NodeBox(
                    node: "xtal",
                    x: 46.0,
                    y: 51.0,
                    w: 64.0,
                    h: 36.0,
                ),
                NodeBox(
                    node: "pll",
                    x: 46.0,
                    y: 134.0,
                    w: 64.0,
                    h: 36.0,
                ),
                NodeBox(
                    node: "cpu_div",
                    x: 246.0,
                    y: 92.5,
                    w: 64.0,
                    h: 36.0,
                ),
                NodeBox(
                    node: "cpu",
                    x: 446.0,
                    y: 92.5,
                    w: 88.0,
                    h: 36.0,
                ),
            ],
            blocks: [
                BlockDef(
                    x: 246.0,
                    y: 92.5,
                    w: 64.0,
                    h: 36.0,
                    label: "",
                    node: Some("cpu_div"),
                ),
                BlockDef(
                    x: 446.0,
                    y: 92.5,
                    w: 88.0,
                    h: 36.0,
                    label: "",
                    node: Some("cpu"),
                ),
            ],
            outputs: [],
            tags: [
                TagDef(
                    x: 46.0,
                    y: 99.0,
                    name: "",
                    src: Node("xtal"),
                    limit: None,
                ),
                TagDef(
                    x: 46.0,
                    y: 182.0,
                    name: "",
                    src: Node("pll"),
                    limit: None,
                ),
                TagDef(
                    x: 246.0,
                    y: 140.5,
                    name: "",
                    src: Node("cpu_div"),
                    limit: None,
                ),
                TagDef(
                    x: 446.0,
                    y: 140.5,
                    name: "",
                    src: Node("cpu"),
                    limit: None,
                ),
            ],
            labels_above: [
                LabelDef(
                    x: 46.0,
                    y: 48.0,
                    text: "xtal",
                    node: Some("xtal"),
                ),
                LabelDef(
                    x: 46.0,
                    y: 131.0,
                    text: "pll",
                    node: Some("pll"),
                ),
                LabelDef(
                    x: 246.0,
                    y: 89.5,
                    text: "cpu_div",
                    node: Some("cpu_div"),
                ),
                LabelDef(
                    x: 446.0,
                    y: 89.5,
                    text: "cpu",
                    node: Some("cpu"),
                ),
            ],
            mux_titles: [],
            wires: [
                [
                    (110.0, 152.0),
                    (230.0, 152.0),
                    (230.0, 110.5),
                    (246.0, 110.5),
                ],
                [
                    (110.0, 69.0),
                    (430.0, 69.0),
                    (430.0, 104.5),
                    (446.0, 104.5),
                ],
                [
                    (310.0, 110.5),
                    (421.0, 110.5),
                    (421.0, 116.5),
                    (446.0, 116.5),
                ],
            ],
            widgets: [
                DragMhz(
                    node: "xtal",
                    x: 46.0,
                    y: 51.0,
                    w: 64.0,
                    min_mhz: 40.0,
                    max_mhz: 48.0,
                ),
                DragMhz(
                    node: "pll",
                    x: 46.0,
                    y: 134.0,
                    w: 64.0,
                    min_mhz: 480.0,
                    max_mhz: 480.0,
                ),
                Combo(
                    node: "cpu_div",
                    x: 251.0,
                    y: 97.5,
                    w: 54.0,
                    options: [
                        ("/2", Index(0)),
                        ("/3", Index(1)),
                        ("/6", Index(2)),
                    ],
                ),
                Combo(
                    node: "cpu",
                    x: 451.0,
                    y: 97.5,
                    w: 78.0,
                    options: [
                        ("xtal", Index(0)),
                        ("cpu_div", Index(1)),
                    ],
                ),
            ],
        ),
    )),
)